.wue-awards-preview-image img {
  max-width: 98%;
  max-height: 98%;
}

@media (min-width: 801px) {
  .wue-awards-preview-image {
    height: min(68svh, 700px);
  }
}

@media (max-width: 800px) {
  .wue-awards-preview-image img {
    max-width: 96%;
    max-height: 96%;
  }
}
